<div class="container">
    <div class="row" style="padding-top: 20px;">
        <div class="col-sm" style="text-align: left;">
            <h2> {{ title }}</h2>
        </div>
        <div class="col-sm" style="text-align: right;">
            <button mat-raised-button class="btn btn-primary" (click)="goToList()"><i class="fa fa-undo"></i> Back to List</button>
        </div>
    </div>
</div>

<div class="container">

    <div class="row">
        <div class="col-lg-12 text-center" style="padding-top:20px;">
            <div class="container" style="padding-left: 0px; padding-right: 0px;">
            </div>
            <div class="container box" style="margin-top: 10px;">
                <form [formGroup]="formData" (ngSubmit)="onClickSubmit(formData.value)" class="form" novalidate>
                    <div class="form-group">
                        <input type="hidden" class="form-control" id="id" formControlName="id" />
                        <label for="item">Item: </label>
                        <input type="text" class="form-control" id="item" formControlName="item" />
                        <span *ngIf="formData.get('item')?.invalid && (formData.get('item')?.dirty)" class="alert alert-danger">
                            <span *ngIf="formData.get('item')?.errors">Item is required </span>
                        </span>
                    </div>

                    <div class="form-group">
                        <label for="amount">Amount: </label>
                        <input type="text" class="form-control" id="amount" formControlName="amount" />
                        <span *ngIf="formData.get('amount')?.invalid && (formData.get('amount')?.dirty)" class="alert alert-danger">
                            <span *ngIf="formData.get('amount')?.errors">Item is required </span>
                        </span>
                    </div>

                    <div class="form-group">
                        <label for="category">Category</label>
                        <select class="form-control" id="category" formControlName="category">
                            <option>Food</option>
                            <option>Vegetables</option>
                            <option>Fruit</option>
                            <option>Electronic Item</option>
                            <option>Bill</option>
                            <option>Car</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="location">location</label>
                        <input type="text" class="form-control" id="location" formControlName="location">
                    </div>
                    <div class="form-group">
                        <label for="spendOn">spendOn</label>
                        <input type="datetime" class="form-control" id="spendOn" formControlName="spendOn">
                    </div>

                    <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="!formData.valid">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
