<div class="row">
    <div class="col-lg-12 text-center" style="padding-top: 20px;">
        <!--Title -->
        <div class="container" style="padding-left: 0px; padding-right: 0px;">
            <div class="row">
                <div class="col-sm" style="text-align: left;">
                    {{ title }}
                </div>
                <div class="col-sm" style="text-align: right;">
                    <!--   <button type="button" class="btn btn-primary">Edit</button>-->
                    <!--<button mat-raised-button color="primary">Edit</button>-->
                </div>
            </div>
        </div>
        <div class="container box" style="margin-top: 10px;">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Created</th>
                        <th>Status</th>
                        <th>Number of Products</th>
                        <th>Total Price($)</th>
                        <th>View</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let entry of orders">
                        <th scope="row">{{entry.id}}</th>
                        <td>{{entry.dateCreated}}</td>
                        <td>{{entry.status}}</td>
                        <td>{{entry.numberOfProducts}}</td>
                        <td>${{entry.totalOrderPrice | number :'1.2-2'}}</td>
                        <td><a routerLink="../orders/detail/{{entry.id}}">View</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>